[Desktop Entry]
Name=Cyswllt
Comment=Mount Google Drive
Exec=/usr/bin/cyswllt
Icon=com.taliskerman.cyswllt
Terminal=false
Type=Application
Categories=Utility;GTK;
