Package: cyswllt
Version: 0.1.12-1
Architecture: all
Maintainer: Chuck Talk <chuck@nordheim.online>
Installed-Size: 2482
Depends: python3:any, python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, rclone, rsync
Section: utils
Priority: optional
Homepage: https://github.com/TaliskerMan/Cyswllt
Description: Google Drive mounter for Linux
 Cyswllt (Welsh for "Connect") is a GTK application that allows you to
 easily mount and unmount your Google Drive on Linux locally.
 .
 It uses rclone as a backend and integrates with the GNOME Desktop.
